.contact {
    background: #80A4ED;
}

.contact .heading {
    color: #fff;
}

.contactInfo {
    min-width: 40%;
}

.contactInfoBx {
    position: relative;
}

.contactInfoBx .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.contactInfoBx .box .text {
    display: flex;
    margin-left: 25px;
    font-size: 16px;
    color: #000;
    flex-direction: row;
    align-items: center;
    font-weight: 300;
    gap: 10px;
}

.contactInfoBx .box .text h3 {
    font-weight: 500;
    color: #2196f3;
    margin-bottom: 0;
}

.contactInfoBx .box .text .icon_contact {
    font-size: 30px;
    color: #80A4ED;
}

.formBx {
    min-width: 60%;
}

.formBx form {
    display: flex;
    flex-direction: column;
}

.formBx form h3,
.contactInfo h3
{
    color: #2196f3;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    padding: 10px;
}

.formBx form input,
.formBx form textarea {
    margin-bottom: 20px;
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: none;
    background: #DAE2F1;
    color: #555;
    resize: none;
}

.formBx form textarea {
    min-height: 200px;
}

.formBx form input::placeholder,
.formBx form textarea::placeholder {
    color: #555;
}

.formBx form input[type="submit"] {
    max-width: 100px;
    background: #2196f3;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
}
